<div ng-controller="createRegisterCtrl">
    <div ng-if="companyInsertMsg" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Success!</strong> {{companyInsertMsg}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card">
        <div class="card-header">
            <h3>Insert Register</h3>
        </div>
        <div class="card-body" style="background-color:lightblue">
            <div class="card-text">
                <form name="frmCreateService" ng-submit="insertService()" novalidate>
                    <div class="form-group row">
                        <label class="col-form-label col-form-label-sm col-2">Online Job Site</label>
                        <div class="col-4">
                            <!--/////////problem-->
                            <select name="onlinejobsiteid" ng-options="item.onlinejobsite.OnlineJobSiteId as item.onlinejobsite.OnlineJobSiteName for item in model.onlinejobsites" class="form-control form-control-sm" ng-model="newService.OnlineJobSiteId" required>
                                <option value="">Select</option>
                            </select>
                            <div class="text-danger" ng-show="frmCreateService.onlinejobsiteid.$error" ng-if="frmCreateService.onlinejobsiteid.$touched">
                                <div ng-show="frmCreateService.onlinejobsiteid.$error.required">This field is requred.</div>

                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-form-label-sm col-2">Register Applicant Name</label>
                        <div class="col-4">
                            <input name="registerapplicantname" type="text" class="form-control form-control-sm" ng-model="newService.RegisterApplicantName" required maxlength="50" />
                            <div class="text-danger" ng-show="frmCreateService.registerapplicantname.$error" ng-if="frmCreateService.registerapplicantname.$touched">
                                <div ng-show="frmCreateService.registerapplicantname.$error.required">This field is requred.</div>
                                <div ng-show="frmCreateService.registerapplicantname.$error.maxlength">This field is requred.</div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-form-label-sm col-2">Email</label>
                        <div class="col-4">
                            <input name="contactemail" type="email" class="form-control form-control-sm" ng-model="newService.ContactEmail" required />
                            <div class="text-danger" ng-show="frmCreateService.contactemail.$error" ng-if="frmCreateService.contactemail.$touched">
                                <div ng-show="frmCreateService.contactemail.$error.required">This field is requred.</div>
                                <div ng-show="frmCreateService.contactemail.$error.EmailAddress">This field is requred.</div>

                            </div>
                        </div>

                    </div>
                    <!--<div class="form-group row">
                        <label class="col-form-label col-form-label-sm col-2">Is Contactual</label>
                        <div class="col-4">
                            <input name="isContactual" type="email" ng-model="newService.IsContactual" />

                        </div>
                    </div>-->
                    <div class="form-group row">

                        <div class="col-4 offset-2">
                            <button type="submit" class="btn btn-primary" ng-disabled="frmCreateService.$invalid">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <a ng-href="#!/onlinejobsite"><i class="fa fa-long-arrow-left"></i> Back to Online Job Site</a>
        </div>
    </div>
</div>