<div style="background-color:lightskyblue; text-align:center;">


    <h5 class="display-2">Online Job Site</h5>
    <p>
        Online Job Site has many job advertisement and many registered applicant. At first You have to create an online account where you put your all info.
        After registration, You will be able to see the job advertisement. Then We shortlist you on your details and  message you to apply for the post.
    </p>


    <div class="row">
        <div class="card mr-2  mb-1  offset-2" style="min-width: 10rem;">
            <div class="card-body">
                <h4 class="card-title">Table 1</h4>
                <div class="card-text">
                    <ul>
                        <li class="nav-item"><a class="nav-link" ng-href="#!/onlinejobsite">Online Job Site</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="card mr-2  mb-1" style="min-width: 10rem;">
            <div class="card-body">
                <h4 class="card-title">Table 2</h4>
                <div class="card-text">
                    <ul>
                        <li class="nav-item"><a class="nav-link" ng-href="#!/onlinejobsite">Job Advertisement</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card mr-2  mb-1" style="min-width: 10rem;">
            <div class="card-body">
                <h4 class="card-title">Table 3</h4>
                <div class="card-text">
                    <ul>
                        <li class="nav-item"><a class="nav-link" ng-href="#!/onlinejobsite">Register Applicant</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card mr-2  mb-1 offset-4" style="min-width: 10rem;">
            <div class="card-body">
                <h4 class="card-title">Apply For A Online Job</h4>
                <div class="card-text">
                    <a href="https://www.youtube.com/watch?v=ZOdVNSh_9Mk">You Tube Video</a>
                </div>
            </div>
        </div>

    </div>

</div>