.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 260px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.user-view {
  background-image: url("../../assets/nexusae0_default_wallpaper_thumb1.jpg");
 
  background-position: left top;
}
