<mat-card class="top-card mat-elevation-z8" style="background-color:lightcyan;">
  <mat-card-header color="accent">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Job Site & Advertisement</mat-card-title>
    <mat-card-subtitle>Client App has huge works</mat-card-subtitle>
    <img src="../../../assets/job3.jpg" width="600" />
  </mat-card-header>
  <!--<img mat-card-image src="../../../assets/bigstock-Plumbing-tools-and-materials-25315121-300x200.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content style="padding-left:25px;padding-right:25px;">
    <mat-divider></mat-divider>

    <div style="padding-top:25px">
      <p>
        Online Job Site has many job advertisement and many registered applicant. At first You have to create an online account where you put your all info.
        After registration, You will be able to see the job advertisement. Then We shortlist you on your details and  message you to apply for the post.
      </p>
      <h3 class="card-title">Online JobSite & Job Advertisement</h3>

      <span class="material-icons">
        face
      </span>
      <span class="material-icons">
        face
      </span>
      <span class="material-icons">
        face
      </span>
      <h3>Angular SPA application with MVC Core 2.2</h3>
      <p>
        This Project is for our honerable teacher.
      </p>
      Angular

      <!-- three line list -->
      <mat-list>

        <mat-list-item>
          <mat-icon mat-list-icon>
            <span class="material-icons">
              supervisor_account
            </span>
          </mat-icon>
          <mat-icon>

          </mat-icon>
          <h3 matLine> Angular Material UI</h3>
          <p matLine>Version 10.2.7 </p>

        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>
            <span class="material-icons">
              record_voice_over
            </span>
          </mat-icon>
          <h3 matLine> SQL Server (localdb)</h3>
          <p matLine>Version 13.0.4.* (SQL SERVER 2016) </p>

        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="['/onlinejobsite']">Explore it!!</a>

  </mat-card-actions>
</mat-card>
